/* Import Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
	--color-primary: #0d4663;
	--color-secondary: #135492;
	--color-accent: #ff9a88;

	--color-black: #111;
	--color-white: #f5f5f5;

	--font-sans: "Inter";

	--nav-height: 64px;
}

body {
	font-family: var(--font-sans), serif;
}

header {
	height: var(--nav-height);
	background-color: var(--color-primary);
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);

	* {
		color: var(--color-white);
	}
	a {
		text-decoration: none;
		font-size: 1.25rem;
		font-weight: 500;
	}

	ul {
		height: var(--nav-height);
		display: flex;
		align-items: center;
		gap: 4rem;
		padding: 0 5rem 0 2rem;
	}

	li {
		list-style: none;
		cursor: pointer;

		&:hover:not(:first-of-type, :last-of-type) {
			text-decoration: underline;
			text-decoration-color: var(--color-accent);
			text-decoration-thickness: 3px;
			text-underline-offset: 0.4em;
			text-decoration-style: wavy;
		}

		&:hover:last-of-type {
			background-color: var(--color-accent);
			padding: 0.25em 1.5em;
			border-radius: 0.5em;
			box-shadow: 4px 4px 0 0;

			a {
				color: var(--color-primary);
				font-weight: 600;
			}
		}
	}

	.nav-item:first-of-type {
		margin-right: auto;
	}
}
