/* Import Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
	--color-primary: #0d4663;
	--color-secondary: #135492;
	--color-accent: #ff9a88;

	--color-black: #111;
	--color-white: #f5f5f5;

	--font-sans: "Inter";

	--nav-height: 64px;
}

body {
	font-family: var(--font-sans), serif;
}

.container {
	width: 100%;
	min-height: 100dvh;
	/* display: grid; */
	/* grid-template-rows: auto 1fr auto; */
	/* grid-template-columns: 30ch 1fr; */
	/* grid-template-areas:
		"header header"
		"main main"
		"footer footer"; */
}

section {
	padding: 1rem 3rem;
}

.story {
	display: none;
}

header {
	height: var(--nav-height);
	background-color: var(--color-primary);
	color: var(--color-white);

	/* grid-area: header; */
}

main {
	color: var(--color-black);
	background-color: var(--color-accent);

	/* grid-area: main; */
}

aside {
	color: var(--color-white);
	background-color: var(--color-black);
  display: none;

	/* grid-area: aside; */
}

footer {
	background-color: var(--color-secondary);
	color: var(--color-white);

	/* grid-area: footer; */
}
