@import "tailwindcss";
/* Import Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
	--color-primary: #0d4663;
	--color-secondary: #135492;
	--color-accent: #ff9a88;

	--color-black: #111;
	--color-white: #f5f5f5;

	--font-sans: "Inter";

	--nav-height: 64px;
}


body {
  margin: 0;
  background: #000;
  font-family: Arial, sans-serif;
  color: white;
}

.page {
  display: flex;
}

/* Sidebar */
.sidebar {
  width: 60px;
  background: #000000;
  display: flex;
  justify-content: center;
  padding: 40px 0;
}

.icon img {
  display: block;
  width: 28px;
  margin: 20px 0;
}

/* Main Content */
.content {
  flex: 1;
  overflow-y: auto;
}

/* Hero Banner */
.hero {
  height: 380px;
  background-image: url('banner.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 50px;
}

.red-glow {
    animation: glowPulse 1.5s ease-in-out infinite;
}

@keyframes glowPulse {
    0% {
        filter: drop-shadow(0 0 0px rgba(255, 0, 0, 0.0));
    }
    50% {
        filter: drop-shadow(0 0 10px rgba(255, 19, 2, 0.9))                drop-shadow(0 0 20px rgba(255, 0, 0, 0.7));
        -webkit-filter: drop-shadow(0 0 10px rgba(255, 19, 2, 0.9))                drop-shadow(0 0 20px rgba(255, 0, 0, 0.7));
}
    100% {
        filter: drop-shadow(0 0 0px rgba(255, 0, 0, 0.0));
        -webkit-filter: drop-shadow(0 0 0px rgba(255, 0, 0, 0.0));
}
}


.hero-text h1 {
  font-size: 65px;
  margin: 0;
}

.hero-text span {
  color: red;
}


.play {
  background: #e50914;
  color: white;
}

.trailer {
  background: white;
  color: black;
}

/* Movie Section */
.movie-section {
  padding: 20px 50px;
}

.movie-section h2 {
  margin-bottom: 10px;
}

.movie-row {
  display: flex;
  gap: 15px;
  overflow-x: auto;
  padding-bottom: 10px;
}

.movie-row img {
  height: 180px;
  border-radius: 4px;
  cursor: pointer;
  transition: .2s;
}

.movie-row img:hover {
  transform: scale(1.1);


}
