/* Import Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
	--color-primary: #0d4663;
	--color-secondary: #135492;
	--color-accent: #ff9a88;

	--color-black: #111;
	--color-white: #f5f5f5;

	--font-sans: "Inter";

	--nav-height: 64px;
}

body {
	font-family: var(--font-sans), serif;
}

#hello {
	height: var(--nav-height);
	color: var(--color-white);
	background-color: var(--color-accent);
	text-shadow: 3px 3px 0 var(--color-black);
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
	font-size: 2rem;
	padding: 0.5rem;
	text-align: center;
}

p {
	background-color: gold;
	outline: solid 4px var(--color-black);
	margin: 1rem;
	padding: 1rem;
}

#text1 {
	background-color: var(--color-secondary);
	color: var(--color-white);
}

#text1::selection {
	background-color: var(--color-accent);
}

/* positions */
#hello {
	position: sticky;
	top: 0;
}

#text2 {
	background-color: var(--color-secondary);
	color: var(--color-white);

	/* position: fixed; */
	/* left: 50%;
	top:50%; */
	/* width: 200px; */

	/* opacity: 0.8; */
}

/* p {
	display: none;
} */

.box1 {
	display: none;

	width: 400px;
	height: 400px;

	/* position: absolute;
	inset: 20px 100px 50px 30px; */

	background-color: var(--color-primary);
	outline: var(--color-accent) 5px solid;

	/* position: static; */

	/* position: relative; */
	/* top: 200px; */
	/* margin: 0 auto; */

	/* top: 100px;
	right: 100px;
	bottom: 100px;
	left: 100px; */
	/* inset: 100px; */

	/* Positioned relative to the nearest positioned ancestor. */
	/* position: absolute;
	top: 200px;
	left: 300px; */

	/* position: absolute;
	inset:0; */

	/* Stays fixed in the viewport while scrolling. */
	/* position: fixed; */
	/* top: 200px;
	left: 300px; */

	/* position: sticky; */
	/* top:100px; */
	/* top: var(--nav-height); */

	/* Center the div with flexbox */
	/* display: flex;
	justify-content: center; 
	align-items: center; */

	/* Center the div with grid */
	/* display: grid;
	place-items: center; */
}

.box2 {
	/* display: none; */

	width: 150px;
	height: 150px;
	background-color: var(--color-white);
	color: var(--color-primary);
	outline: var(--color-accent) 5px solid;

	/* font-weight: 500;
	font-size: 4rem;
	border-radius: 50%;

	display: flex;
	justify-content: center;
	align-items: center; */

	/* Center the div with position relative-absolute */
	/* position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%); */

	/* position: absolute;
	inset: 0;
	margin: auto; */

	/* Shopping cart with item number or Notification */
	/* position: absolute;
	top: -20%;
	right: -20%; */
}
